@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Montserrat:ital,wght@1,300&display=swap');
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p{
    font-family: 'Hind Madurai', sans-serif;
    text-align: center;
}



.SectionTache{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
  flex-direction: row;
}

.SectionTache .div1-tache,.div2-tache,
.div3-tache,.div4-tache,.div5-tache,
.div6-tache,.div7-tache,.div8-tache {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-color: lightblue;
}

.div1-tache .img{

}
.div2-tache .img{
  
}

.div3-tache .img{
  background: url("../image/imgStage/ajouter-produit-1.png");
  width: 400px;
  height: 400px;
}






button{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border-color: transparent;   
    border-color: grey; 
}
button:hover{
  color: white;
}

button::before{
  content: "";
  position: absolute;
  height: 100%;
  background-color: #009EFF;
  left: 0;
  top: 0;
  border-radius: 10px;
  
}

button:hover::before{
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) cercle-ouverture both;
  width: 100%;
  z-index: -1;
  
}



@keyframes cercle-ouverture {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(150% at top left);
  }
}

@keyframes cercle-fermeture {
  from {
    clip-path: circle(125%);
  }
  to {
    clip-path: circle(0% at top left);
  }
}
