@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');



.rideaux{
    z-index: 10;
    position: fixed;
    width: 100vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    border-bottom: 1px solid rgb(0, 110, 255);
    transform: translateY(-150%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);

}

.rideaux.active{
    transform: translate(0);
}
#rideaux-logo{
    color: white;
    font-size: 20px;
    flex: 0 0 3rem;
}

#rideaux-un{
    color: white;
    flex: 0 0 2rem;
}

#rideaux-deux{
    color: white;
    flex: 0 0 2rem;
}

#rideaux-trois{
    color: white;
    flex: 0 0 2rem;
}

#rideaux-quatre{
    color: white;
    flex: 0 0 2rem;
}

#rideaux-cinq{
    color: white;
    flex: 0 0 2rem;
}




.nav-toggler {
    position: fixed;
    z-index: 10;
    top: 100%;
    right: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease-out,
    opacity 0.1s ease-out;
}

.l1{
    transform: translateY(-10px);
    background: white;
}

.l3{
    transform: translateY(10px);
    background: white;
}
.nav-toggler.active .l1{
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2{
    opacity: 0;
}

.nav-toggler.active .l3{
    transform: translateY(0px) rotate(-135deg);
}








.noir{
	background-color: black;
	color: white;
}

.test{
    content: "ddd";
}

.blanc{
	color: white;
	background-color: black;
}


#change:hover{
	cursor: pointer;
    transform: scale(1.4);
    transition: transform 0.4s ease-in-out;
}




.hautPage {
    background-color: aquamarine;
}




html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    
}

.header{
	background: white;
}

nav a{
	color: black;
	text-decoration: none;
}
.un::after{
    content: "";
    display: block;
    position: absolute;
    width: 5.4%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}




.deux::after{
    content: "";
    display: block;
    position: absolute;
    width: 4.5%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}




.trois::after{
    content: "";
    display: block;
    position: absolute;
    width: 7.5%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.trois2::after{
    content: "";
    display: block;
    position: absolute;
    width: 7.5%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.quatre::after{
    content: "";
    display: block;
    position: absolute;
    width: 7.7%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}


.cinq::after{
    content: "";
    display: block;
    position: absolute;
    width: 6.2%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}



.un2::after{
    content: "";
    display: block;
    position: absolute;
    width: 5.4%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}


.deux2::after{
    content: "";
    display: block;
    position: absolute;
    width: 4.5%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.trois2::after{
    content: "";
    display: block;
    position: absolute;
    width: 7.5%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}


.quatre2::after{
    content: "";
    display: block;
    position: absolute;
    width: 7.7%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}


.cinq2::after{
    content: "";
    display: block;
    position: absolute;
    width: 6.2%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}




nav a:hover::after{
    transform: scale(1);
}


nav {
	min-height: 10vh;
    display: flex;
    align-items: center;
    margin: auto;
}

nav ul{
	display: flex;
	flex: 1 1 40rem;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
}




#logo{
	flex: 0 1 40rem;
}





.hautPage  {
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)),
    url(fond.jpg);
    height: 56vh;
    padding: 175px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.titre  {
    color: white;
    line-height: 35px;
    text-align: center;
}

.titre .t1{
    font-weight: 500;
    font-size: 100px;
    font-family: 'Abril Fatface', cursive;
    
    
}
.titre .t2{
    font-size: 40px;
    color: white;
    font-weight: normal;
    font-family: italic;
}




.propos{
    text-align: center;
}


.infos .t3{
    font-size: 30px;
    text-align: center;
}



.infos p{
	text-align: center;
	width: 550px;
	margin-left: 69vh;
    margin: auto;
}

.footer p{
    text-align: center;
}

.basPage{

    padding: 4px;
    margin: auto;
}

@media screen and (max-width: 842px) {
    .nav-toggler {
        top: 30px;
        }
    
        nav{
            z-index: 10;
            position: fixed;
            width: 100vw;
            min-height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: black;
            border-bottom: 1px solid rgb(0, 110, 255);
            transform: translateY(-100%);
            transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
        
        }
    
        
        .rideaux{
            z-index: 10;
            position: fixed;
            width: 100vw;
            min-height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: black;
            border-bottom: 1px solid rgb(0, 110, 255);
            transform: translateY(-100%);
            transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
        
        }
        
        .rideaux.active{
            transform: translate(0);
        }
    
       
    
}

@media screen and (max-width: 743px){
    .titre .t1{
        font-weight: 500;
        font-size: 75px;
        font-family: 'Abril Fatface', cursive;
}
}

@media screen and (max-width: 645px){
    .titre .t1{
        position: relative;
        right: 20px;
}
}


@media screen and (max-width: 557px){
    .infos p{
        
        width: 250px;
       
    }
}


/* media téléphone */

@media screen and (max-width: 390px){
.titre .t1{
    left: -127px;
}
.titre .t2{
    position: relative;
    left: -80px;
}
}



/* dimension de  mon téléphone */


@media screen and (max-width: 400px){
    .titre .t1{
        left: -127px;
    }
    .titre .t2{
        position: relative;
        left: -80px;
    }

    }


    


    /* Fin dimension de mon téléphone */
