@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


.noir{
	background-color: black;
	color: white;
}

.test{
    content: "ddd";
}

.blanc{
	color: white;
	background-color: black;
}


#change:hover{
	cursor: pointer;
    transform: scale(1.4);
    transition: transform 0.4s ease-in-out;
}




.hautPage {
    background-color: aquamarine;
}




html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    
}

.header{
	background: white;
}

nav a{
	color: black;
	text-decoration: none;
}
.un::after{
    content: "";
    display: block;
    position: absolute;
    width: 5.4%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}




.deux::after{
    content: "";
    display: block;
    position: absolute;
    width: 4.5%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}




.trois::after{
    content: "";
    display: block;
    position: absolute;
    width: 7.5%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.trois2::after{
    content: "";
    display: block;
    position: absolute;
    width: 7.5%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.quatre::after{
    content: "";
    display: block;
    position: absolute;
    width: 7.7%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}


.cinq::after{
    content: "";
    display: block;
    position: absolute;
    width: 6.2%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}



.un2::after{
    content: "";
    display: block;
    position: absolute;
    width: 5.4%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}


.deux2::after{
    content: "";
    display: block;
    position: absolute;
    width: 4.5%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.trois2::after{
    content: "";
    display: block;
    position: absolute;
    width: 7.5%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}


.quatre2::after{
    content: "";
    display: block;
    position: absolute;
    width: 7.7%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}


.cinq2::after{
    content: "";
    display: block;
    position: absolute;
    width: 6.2%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}




nav a:hover::after{
    transform: scale(1);
}


nav {
	min-height: 10vh;
    display: flex;
    align-items: center;
    margin: auto;
}

nav ul{
	display: flex;
	flex: 1 1 40rem;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
}




#logo{
	flex: 0 1 40rem;
}




.hautPage  {
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)),
    url(fond.jpg);
    height: 56vh;
    padding: 175px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.titre  {
    color: white;
    line-height: 35px;
    text-align: center;
}

.titre .t1{
    font-weight: 500;
    font-size: 100px;
    font-family: 'Abril Fatface', cursive;
    
    
}
.titre .t2{
    font-size: 40px;
    color: white;
    font-weight: normal;
    font-family: italic;
}




.propos{
    text-align: center;
}


.infos .t3{
    font-size: 30px;
    text-align: center;
}



.infos p{
	text-align: center;
	width: 550px;
	margin-left: 69vh;
    margin: auto;
}

.footer p{
    text-align: center;
}

.basPage{

    padding: 4px;
    margin: auto;
}

@media screen and (max-width: 743px){
    .titre .t1{
        font-weight: 500;
        font-size: 75px;
        font-family: 'Abril Fatface', cursive;
}
}

@media screen and (max-width: 645px){
    .titre .t1{
        position: relative;
        right: 20px;
}
}


@media screen and (max-width: 557px){
    .infos p{
        
        width: 250px;
       
    }
}


/* media téléphone */

@media screen and (max-width: 390px){
.titre .t1{
    left: -127px;
}
.titre .t2{
    position: relative;
    left: -80px;
}
}